/* Christian testing */

/*  Kan noen se på denne */
#popup-close {
    position: relative;
    left: 94%;
    top: -30px;
}
#popup-panel {
    position: absolute;
    left: 40%;
    top: 20%;
    z-index: 400;
    background-color: white;
}
.tui-full-calendar-weekday-schedule-bullet {
    display: none;
}
#outer-shift-container .cards-container {
    padding-left: 0 !important;
    padding-right: 0;
}
.dashboard-section nav {
    z-index: 1000;
}

/* Svartfargen er muligens feil på denne */
.card,
.panel-heading {
    background: #faece4 !important;
    color: black !important;
}

#profile-info .card {
    background-color: #ffffff !important;
}
.card-header {
    box-shadow: none;
}
#calendar {
    position: relative;
    left: 0;
    right: 0;
    bottom: 5px;
    top: 0px;
}
#calendar-menu, #shift-menu {
    padding-bottom: 10px;
}
#shift-menu .column {
    padding-left: 0;
}
#profile-info .card {
    box-shadow: none;
}

#profile-info .card-content {
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
#profile-info .card-content .media {
    border-radius: 6px 6px 0 0;
}

/*.italic {
    font-style: italic;
    font-size: 14pt;
}*/

/* --------------------------------- */

#table {
    position: left;
}

.dropbtn {
    background-color: #ffff;
    color: #49380b;
    padding: 9px 30px;
    font-size: 16px;
    line-height: 18px;
    border: 2px solid #49380b;
    border-radius: 4px;
    margin: 0px 0px 8px 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffff;
}
